<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
         <form method="POST" action="eSignIn">
             {% csrf_token %}
             <input type="text" name="acc" id="acc" value="">
            <input type="text" name="password" id="password">
            <button type="submit" name="btnSubmit">Sign In</button>
         </form>

         <!--<form method="POST" action="eSignUp">
             {% csrf_token %}
             <input type="text" name="acc" id="acc" value="">
            <input type="text" name="password" id="password">
            <button type="submit" name="btnSubmit">Sign Up</button>
         </form>-->
    </body>
</html>